<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="ai_final" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/AI_Final.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="ai_final" />
  </rules>
</nlog>
